Weechat sends non-standard server name in TLS HELLO, standards-compliant server closes connection

<!-- Please do not report any security issue here, see file Contributing.adoc -->

## Bug summary
RFC 6066 section 3 states that the server name argument (SNI extension) cannot be a literal IPv6 and must be plain ASCII.

Weechat disregards that and happily sends literal IPv6 addresses and IDNs as provided by the user without further checks. A standards-compliant ircd, such as UnrealIRCd built against LibreSSL, will properly rejects such arguments as illegal, causing the handshake to fail and the connection to abort.

## Steps to reproduce

1. connect to a server using its literal IPv6 address, or
2. connect to a server using an IDN with non-ASCII chars

## Current behavior
The server hostname is used by weechat to derive a Server Name that is sent as-is in the TLS HELLO. This breaks the RFC and Unreal built against libreSSL will reject it as Illegal Parameter (47), which is what they should do per the standards.

## Expected behavior
The SN in TLS HELLO should follow the standards so that the connection can be established properly.

## Suggested solutions
I suggest that when the host to connect to cannot be translated into an RFC-compliant SN, weechat should NOT send any SN to avoid this problem. In the case of IDNs, they should be converted to punycode.

## Additional information
OpenSSL seems to be more lenient and does not cause such a malformed handshake to be rejected, which is why this problem might not be very common in the wild.

---

<!-- MANDATORY INFO: -->

- WeeChat version: 3.1, 2.8
- OS, distribution and version: FreeBSD 12.2-release-p3, Linux Mint 20.1, Debian 10.9
- Terminal: terminator
- Terminal multiplexer (screen/tmux/…/none): tmux, none


Hi,
Is it a WeeChat or a GnuTLS issue?
If it's in a TLS message, I think this is done by GnuTLS, not directly by WeeChat.

Weechat calls gnutls_server_name_set() and passes the address from server->current_address. Gnutls documentation does say ipv4 and ipv6 should not be set, so weechat should check this.
The non-ascii part is different, gnutls says its ok to set UTF-8, so any punycode conversion should be on them IMO

OK I see the problem now.

It was introduced by commit 136da36d7a0535fa6291b88aac8698210ece7c58 (issue #620).
I'll make changes and call this GnuTLS function only if it's not a valid IPv4/IPv6 address.